* {
    padding: 0;
    margin: 0;

}

#navbar {
    height: 60px;
    background-color: #051010;
    color: aliceblue;
}

button {
    background-color: #f08804;
}

#logo {
    color: #f08804;
    font-size: 25px;
}

a {
    margin-right: 150px;
}

h1 {
    background-color: rgb(162, 117, 33);
    text-align: center;
}

#a {
    height: 900px;
    background-color: #0f5c5c24;
    color: aliceblue;
}

h2 {
    text-align: center;
    color: #f08804;
}

#b {
    height: 200px;
    background-color: #000000fe;
    color: aliceblue;
    text-align: center;
}

b {
    margin-right: 300px;

}

#r {
    height: 350px;
    width: 400px;
    background-color: rgb(86, 152, 185);
    border: #051010;
    padding: 100px;
    margin: 90px;

}
#ris{
    color: #051010;
    height: 100px;
    width: 200px;
    color: #ba630c;
    background-color: #051010;
    text-align: center;
    margin: auto;
    padding: 34px;
}

#pic{
    border-radius: 50px;
    background-color: aliceblue;
    height: 78px;
    width: 88px;
    margin: auto;
    
}